<html>
	<head>
		<meta charset="utf8" />
		<title>easy file browser</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<h1>file browser</h1>
		<h3>upload</h3>
		<hr>
		<form action="/upload" method="POST" enctype="multipart/form-data" class="p_x5">
			<input type="file" name="up_file" size="1">
			<input type="text" name="pwd" value="<%= pwd %>" hidden>
			<button type="button" onclick="javascript:document.forms[0].up_file.value=null">clear</button>
			<input type="submit" value="submit">
		</form>


		<h3>download</h3>
		<hr>
		<ul style="list-style: none;" class="p_x5">
			<% for(var i=0;i<fileList.length;i++){                          %>
				<li>
					<% if(fileList[i].type==2) { %>
					*
					<% }%>
					<a href=" <%= pwd %><%= fileList[i].name %> "> <%= fileList[i].name %> </a> 
					<span class="ctime">Date: <%= fileList[i].time %> </span>
				</li>
			<% }  								%>                                                                  		
		</ul>



		<style>
			.ctime {
				float: right;
			}
			.p_x5 {
				padding:0 .5rem;
			}
			li:hover {
				background-color: whitesmoke;
			}
			
		</style>
	</body>
</html>
